<!DOCTYPE html>

<html lang="en">

<head>
    <title>Freakland</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/comic_style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bangers">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rampart+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comic+Neue">

    <script src="https://kit.fontawesome.com/166b60345f.js" crossorigin="anonymous"></script>

</head>

<body >

    <header>

        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid align-content-center">
                <div class="mx-2">
                   
                    <img class="img-fluid mx-1" src="~/Content/img/FreakLndLogo.png" alt="Logo Freakland" style="height: 100px" />
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>



                <div class="collapse navbar-collapse  align-content-center" id="navbarScroll" style="font-family: Bangers; font-size:xx-large;">
                    <ul class="nav me-auto my-2 my-lg-0 navbar-nav-scroll gap-5" style="--bs-scroll-height: 100px;">
                        <li class="nav-item ">@Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "nav-link", style = "text-decoration:none; height: 60px;" })</li>
                        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >Acerca de Freakland</a>
                            <ul class="dropdown-menu">
                                <li>
                                    @Html.ActionLink("Quienes somos", "About", "Home", new { area = "" }, new { @class="dropdown-item", style = "text-decoration:none; " })
                                </li>
                                <li><a class="dropdown-item">Visión de Freakland</a></li>
                                <li><a class="dropdown-item">Mision de Freakland</a></li>
                                <li><a class="dropdown-item">Estilo de trabajo</a></li>
                                <li><a class="dropdown-item">Servicios extras a nuestros clientes</a></li>
                                <li><a class="dropdown-item">Actividades que desarrollamos en el local</a></li>
                                <li><a class="dropdown-item">Nuevos proyectos</a></li>
                                <li><a class="dropdown-item">Freakland presente en eventos</a></li>
                                <li><a class="dropdown-item">Notas de prensa</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">Tienda</a>
                            <ul class="dropdown-menu">

                                <li>
                                    @Html.ActionLink("Destacados", "Store", "Home", new { area = "" }, new { @class = "dropdown-item", style = "text-decoration:none;" })
                                </li>
                                <li><a class="dropdown-item">DC</a></li>
                                <li><a class="dropdown-item">Marvel</a></li>
                                                                                                      
                                    
                                <li class=" dropend dropend-menu" >
                                    <a class="nav-link dropdown-item dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Cine/TV</a>
                                        
                                    <ul class="dropdown-menu">
                                        <li><a class="nav-item">Terror</a></li>
                                        <li><a class="nav-item">Ciencia Ficción</a></li>
                                        <li><a class="nav-item">Acción</a></li>
                                        <li><a class="nav-item">Vintage</a></li>
                                        <li><a class="nav-item">Otros</a></li>
                                    </ul>

                                </li>
                                                                
                                <li><a class="dropdown-item">Anime</a></li>
                                <li><a class="dropdown-item">Fig. series cartoon</a></li>
                                <li><a class="dropdown-item">Tokusatsu</a></li>
                                <li><a class="dropdown-item">Peluches</a></li>
                                <li><a class="dropdown-item">Estatuillas</a></li>
                                <li><a class="dropdown-item">Mini figures</a></li>
                                <li><a class="dropdown-item">Autitos</a></li>
                                <li><a class="dropdown-item">Maquetas/Models kit</a></li>
                                <li><a class="dropdown-item">Juegos de mesa</a></li>
                                <li><a class="dropdown-item">Cartas coleccionables</a></li>
                                <li><a class="dropdown-item">Dioramas/ Playsets</a></li>
                                <li><a class="dropdown-item">Customs</a></li>
                                <li><a class="dropdown-item">3D</a></li>
                                <li><a class="dropdown-item">Accesorios coleccionables</a></li>
                                <li><a class="dropdown-item">Accesorios usables</a></li>
                                <li><a class="dropdown-item">Posters</a></li>
                                <li><a class="dropdown-item">Tazas personalizadas</a></li>
                                <li><a class="dropdown-item">Remeras personalizadas</a></li>
                                
                            </ul>
                            
                        </li>
                        <li class="nav-item ">@Html.ActionLink("Contacto", "Contact", "Home", new { area = "" }, new { @class = "nav-link", style = "text-decoration:none; " })</li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                        <button class="btn btn-dark" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </nav>

    </header>
    <!-- Close Header -->

    <main class="p-1" style="background-image: radial-gradient(circle, #ffd800, #c34c10);">

        @RenderBody()

    </main>

    <!-- Start Footer -->
    <footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 pt-5">

                    <h2 class="h2  border-bottom pb-3 border-light logo" style="color:white;">FreakLand</h2>

                    <ul class="list-unstyled text-light footer-link-list">

                        <li>
                            <i class="fas fa-map-marker fa-fw"></i>
                            18 de Julio 921 - Local 04
                        </li>
                        <li>
                            <i class="fa fa-whatsapp fa-fw"></i>
                            <a class="text-decoration-none" href="+598 93 982 929"></a>
                        </li>
                        <li>
                            <i class="fa fa-envelope-square fa-fw"></i>
                            <a class="text-decoration-none" href="mailto:mundofreakland@gmail.com" style="color:white;">e-Mail</a>
                        </li>

                    </ul>

                </div>

                <div class="col-md-4 pt-5">

                    <h2 class="h2 text-light border-bottom pb-3 border-light">Colecciones</h2>

                    <ul class="list-unstyled text-light footer-link-list" >

                        <li><a class="text-decoration-none" href="#" style="color:white;">Marvel</a></li>
                        <li><a class="text-decoration-none" href="#" style="color:white;">DC</a></li>
                        <li><a class="text-decoration-none" href="#" style="color:white;">TMNT</a></li>
                        <li><a class="text-decoration-none" href="#" style="color:white;">Super Powers</a></li>
                        <li><a class="text-decoration-none" href="#" style="color:white;">LOTR</a></li>
                        <li><a class="text-decoration-none" href="#" style="color:white;">Master of the Universe</a></li>
                        <li><a class="text-decoration-none" href="#" style="color:white;">Thundercats</a></li>
                        <li><a class="text-decoration-none" href="#" style="color:white;">GI-Joe</a></li>
                        <li><a class="text-decoration-none" href="#" style="color:white;">Figuras Anime</a></li>
                        <li><a class="text-decoration-none" href="#" style="color:white;">Figuras Personajes de cine</a></li>

                    </ul>

                </div>

                <div class="col-md-4 pt-5">

                    <h2 class="h2 text-light border-bottom pb-3 border-light">Información</h2>

                    <ul class="list-unstyled text-light footer-link-list">

                        <li>@Html.ActionLink("Inicio", "Index", "Home", null, new { style = "text-decoration:none; color: white;" })</li>
                        <li>@Html.ActionLink("Acerca de", "About", "Home", null, new { style = "text-decoration:none; color: white;" })</li>
                        <li>@Html.ActionLink("Tienda", "Store", "Home", null, new { style = "text-decoration:none; color: white;" })</li>
                        <li>@Html.ActionLink("Contacto", "Contact", "Home", null, new { style = "text-decoration:none; color: white;" })</li>

                    </ul>

                </div>

            </div>

            <div class="row text-light mb-4">

                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>

                <div class="col-auto me-auto">

                    <ul class="list-inline text-left footer-icons">

                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.facebook.com/MundoFreakland"><i class="fab fa-facebook fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                        </li>

                    </ul>

                </div>

                <div class="col-auto">

                    @*<label class="sr-only" for="subscribeEmail">Email address</label>

                    <div class="input-group mb-2">

                        <input type="text" class="form-control bg-dark border-light" id="subscribeEmail" placeholder="Email address">

                        <div class="input-group-text btn-success text-light">Subscribe</div>*@

                    </div>
                </div>
            </div>
        

        <div class="w-100 bg-black py-3">
            <div class="container">
                <div class="row pt-2">

                    <div class="col-12">

                        <p class="text-left text-light">
                            Copyright &copy; 2021 Freakland
                            | Designed by Kopsur
                        </p>

                    </div>

                </div>
            </div>
        </div>

    </footer>
</body>
<!-- End Footer -->
</html>

<!-- Start Script -->

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/bootstrap.bundle.min.js"></script>
<script src="~/Scripts/custom.js"></script>


@*<script src="~/Content/js/javaScript.js"></script>*@
<!-- End Script -->




